@charset "UTF-8";
/* Sample CSS Document */

#eagleLogo {

}

h1 {
color:blue;
font-weight: bold;
 }S

 title {
 color: red;
 }
 h2 {
 color: white;
 }

.eslrTitle {
  color: red;
  font-weight: bold;
  font-size:16pt;
  S
  }

a:link:{
color: #900;
background-color: #0CF

}

a:hover{
color: red;
background-color: #900;
font-size: 20pt;

a:linl[

]

a:active[

]

a:visited[

]
